body 
    {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;}

nav 
   {
    background-color: #333;
    padding: 10px;}



nav ul 
   {
    list-style: none;
    margin: 0; 
     padding: 0;
    display: flex;} 



nav ul li {
margin-right: 20px;}



nav ul li a 
   {
    color: white;
    text-decoration: none;
    font-weight: bold; }
   


nav ul li a:hover
   {
    text-decoration: underline; }


/* Boşluk İçin Koydum Hocam */
main {
    padding: 20px; }


h1, h2, h3 
     {
    margin-top: 10px;
    margin-bottom: 10px; }

p 
{
    line-height: 1.6;
    margin-top: 8px;
    margin-bottom: 8px; }


ul 
{
    padding-left: 20px; }


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px; }


footer p {
    margin: 0;
    font-size: 14px; }


         h1 {
    color: #333; }     h2 {
    color: #444; }   


h3 {
    color: #555;}

    li {
    margin-bottom: 8px; }


